<div class="row mb-5 sekcija">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-body">
      <h3 class="text-center">Resetovanje pasvorda</h3>

      <p class="text-center">Molim unesite Vaš email da bi resetovali pasvord.</p>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup mt-3">
        <input type="submit" class="btn btn-primary btn-block" value="Reset Password" (click)="auth.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <br>
    <div class="pl-4">
      <span>Nazad ? <a class="redirect" routerLink="/login">Log In</a></span>
    </div>

  </div>
</div>
