<div class="oblastiBanner">
  <p class="oblasti">Oblasti</p>
</div>
<div class="row oblastired">
  <div class="col-lg-6 pb-5">
    <h4 data-aos="fade-up" data-aos-duration="1000" class="text-center mt-5 pt-5" style="color: rgb(175, 118, 64)">PRUŽAOCI USLUGA</h4>
    <br>

    <p class="text-center pl-5 pr-5">
      Gdje možete steći nova znanja i vještine ?
      <br>
      <br>
      U učionici <br>
      Vi možete steći potrebne vještine pohađajući programe obrazovanja odraslih koje pružaju pružaoci usluga obrazovanja odraslih
      <br>
      <br>
      Na radnom mjestu
      <br>
      Pored pohađanja programa obrazovanja odraslih vi nove vještine možete steći kroz obuku na radnom mjestu koji se organizuju od strane partnera na obrazovanju odraslih
    </p>
    <br>
    <a class="saznaj" routerLink="/pruzaoci-usluga"><i style="font-size: 38px; margin-left: 50%; color: rgb(175, 118, 64);" class="ion-ios-arrow-thin-right"></i></a>
  </div>
  <div class="col-lg-6 aktSlika1">

  </div>
</div>
<div class="row oblastired">
  <div class="col-lg-6 aktSlika2">
  </div>
  <div class="col-lg-6 pb-5">
    <h4 data-aos="fade-up" data-aos-duration="1000" class="text-center mt-5 pt-5" style="color: rgb(114, 114, 114)">RAZVOJ KAPACITETA</h4>
    <br>

    <p class="text-center pl-5 pr-5">
      Mi vam možemo pomoći da se opremite potrebnim vještinama
      <br>
      <br>
      Mi vjerujemo da puni potencijal partnerstva zainteresovanih strana na polju obrazovanja odraslih može biti dostignut kroz jasnu misiju i prioritete partnerstva javnog, privatnog i civilnog sektora koja podstiče funkcionalnu saradnju u obrazovanju odraslih.
      <br>
      <br>
      Funkcionalno partnerstvo
      na razvoju vještina ključno za uspjeh u implementaciji politika i napora svih aktera o oblasti cjeloživotnog učenja i obrazovanja odraslih na području Bosansko-podrinjskog kantona Goražde.
    </p>
    <br>
    <a class="saznaj" routerLink="/razvoj-kapaciteta"><i style="font-size: 38px; margin-left: 50%; color: rgb(114, 114, 114);" class="ion-ios-arrow-thin-right"></i></a>
  </div>

</div>
<div class="row oblastired">
  <div class="col-lg-6 pb-5">
    <h4 data-aos="fade-up" data-aos-duration="1000" class="text-center mt-5 pt-5" style="color:rgb(119, 56, 56) ">KORISNICI USLUGA</h4>
    <br>

    <p class="text-center pl-5 pr-5">
      Mi vam možemo pomoći da se opremite potrebnim vještinama
      <br>
      <br>
      Parnerstvo u oblasti obrazovanja odraslih je uspostavljeno kako bi vam pomogli u vašim nastojanjima da učestvujete u šiirokom spektru formalnih i neformalnih aktivnosti učenja, kako generalnih tako i stručnih nakon što ste završili vaše inicijalno obrazovanje i obuku
    </p>
    <br>
    <a class="saznaj" routerLink="/korisnici-usluga"><i style="font-size: 38px; margin-left: 50%; color:rgb(119, 56, 56) ;" class="ion-ios-arrow-thin-right"></i></a>
  </div>
  <div class="col-lg-6 aktSlika3">

  </div>
</div>
<!--<div class="row oblastired">
  <div class="col-lg-6 aktSlika4">
  </div>
  <div class="col-lg-6 pb-5">
    <h4 data-aos="fade-up" data-aos-duration="1000" class="text-center mt-5 pt-5" style="color: rgb(54, 87, 197)">OKRUŽENJE ZA OBRAZOVANJE ODRASLIH</h4>
    <br>

    <p class="text-center pl-5 pr-5">
      Prevailed sincerity behaviour to so do principle mr. As departure at no propriety zealously my. On dear rent if girl view. First on smart there he sense. Earnestly enjoyment her you resources. Brother chamber ten old against. Mr be cottage so related minuter is.
      <br>Delicate say and blessing ladyship exertion few margaret. Delight herself welcome against smiling its for. Suspected discovery by he affection household of principle perfectly he.
    </p>
    <br>
    <a class="saznaj" routerLink="/okruzenje-za-obrazovanje-odraslih"><i style="font-size: 38px; margin-left: 50%; color: rgb(54, 87, 197);" class="ion-ios-arrow-thin-right"></i></a>
  </div>

</div>
-->
