<div class="container-fluid usluge">
  <p class="vijest naslovBaner">Usluge</p>

</div>

<div class="container pb-5">
  <div class="row pt-5 pb-5">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-right: 1px solid grey;">
      <h3 class="text-center mb-5">Kursevi</h3>
        <div class="widget">
            <div>
                    <!--<a *ngFor="let ned of kursevi" routerLink="/kurs/{{ned.Id}}/false" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                        <div class="w-100 justify-content-between">
                            <img [src]="ned.Slika | async" alt="" class="nedavne float-left">
                            <h5>{{ned.Naslov}}</h5>
                            <p>Početak: {{ned.DatumPocetka | date}}</p>
                        </div>
                    </a>-->
                    <span *ngFor="let ned of kursPet" >
                      <div class="card" style="width: 100%; margin-bottom: 50px">
                        <a routerLink="/kurs/{{ned.Id}}/false"><img class="card-img-top" [src]="ned.Slika | async" alt=""></a>
                        <div class="card-body">
                          <a routerLink="/kurs/{{ned.Id}}/false"><h4 class="card-title">{{ned.Naslov}}</h4></a>
                          <table class="table">
                            <thead>
                              <tr>
                                <td>Cijena</td>
                                <td>Trajanje</td>
                                <td>Početak</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td *ngIf="ned.Cijena !== 0">{{ned.Cijena}} KM</td>
                                <td *ngIf="ned.Cijena === 0">Besplatno</td>
                                <td>{{ned.Trajanje}} sedmice</td>
                                <td>{{ned.DatumPocetka | date}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <a class="saznaj" routerLink="/kurs/{{ned.Id}}/false"><i style="font-size: 38px;" class="ion-ios-arrow-thin-right"></i></a>
                        </div>
                      </div>
                    </span>
            </div><!-- end blog-list -->
        </div><!-- end widget -->
        <a *ngIf="kursevi[0] !== undefined" class="saznaj" (click)="loadKurs()"><i style="font-size: 30px;" class="ion-ios-arrow-down"></i></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-right: 1px solid grey;">
      <h3 class="text-center plava mb-5">Praktične obuke</h3>
      <!--<div class="widget">
        <div class="blog-list-widget">
            <div class="list-group">
                <a *ngFor="let ned of obuke" routerLink="/kurs/{{ned.Id}}/true" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                    <div class="w-100 justify-content-between">
                        <img [src]="ned.Slika | async" alt="" class="nedavne float-left">
                        <h5>{{ned.Naslov}}</h5>
                        <p>Početak: {{ned.DatumPocetka | date}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>-->
    <div class="widget">
      <div>
              <span *ngFor="let ned of obuke" >
                <div class="card" style="width: 100%; margin-bottom: 50px">
                  <a routerLink="/kurs/{{ned.Id}}/true"><img class="card-img-top" [src]="ned.Slika | async" alt=""></a>
                  <div class="card-body">
                    <a routerLink="/kurs/{{ned.Id}}/true"><h4 class="card-title">{{ned.Naslov}}</h4></a>
                    <table class="table">
                      <thead>
                        <tr>
                          <td>Cijena</td>
                          <td>Trajanje</td>
                          <td>Početak</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td *ngIf="ned.Cijena !== 0">{{ned.Cijena}} KM</td>
                          <td *ngIf="ned.Cijena === 0">Besplatno</td>
                          <td>{{ned.Trajanje}} sedmice</td>
                          <td>{{ned.DatumPocetka | date}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <a class="saznaj" routerLink="/kurs/{{ned.Id}}/true"><i style="font-size: 38px;" class="ion-ios-arrow-thin-right"></i></a>
                  </div>
                </div>
              </span>
      </div><!-- end blog-list -->
  </div><!-- end widget -->
  <a *ngIf="kursevi[0] !== undefined" (click)="loadObuke()" class="saznaj" href="#"><i style="font-size: 30px;" class="ion-ios-arrow-down"></i></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <h3 class="text-center mb-5">Događaji</h3>
      <!--<div class="widget">
        <div class="blog-list-widget">
            <div class="list-group">
                <a *ngFor="let ned of dogadjaji" routerLink="/dogadjaj/{{ned.Id}}" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                    <div class="w-100 justify-content-between">
                        <img [src]="ned.Slika | async" alt="" class="nedavne float-left">
                        <h5>{{ned.Naslov}}</h5>
                        <p>Početak: {{ned.DatumPocetka | date}}, {{ned.VrijemePocetka}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>-->
    <div class="widget">
      <div>
              <span *ngFor="let ned of dogadjaji" >
                <div class="card" style="width: 100%; margin-bottom: 50px">
                  <a routerLink="/dogadjaj/{{ned.Id}}"><img class="card-img-top" [src]="ned.Slika | async" alt=""></a>
                  <div class="card-body">
                    <a routerLink="/dogadjaj/{{ned.Id}}"><h4 class="card-title">{{ned.Naslov}}</h4></a>
                    <table class="table">
                      <thead>
                        <tr>
                          <td>Datum početka</td>
                          <td>Vrijeme</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ned.DatumPocetka | date}} KM</td>
                          <td>{{ned.VrijemePocetka}} h</td>
                        </tr>
                      </tbody>
                    </table>
                    <a class="saznaj" routerLink="/dogadjaj/{{ned.Id}}"><i style="font-size: 38px;" class="ion-ios-arrow-thin-right"></i></a>
                  </div>
                </div>
              </span>
      </div><!-- end blog-list -->
  </div><!-- end widget -->
  <a *ngIf="kursevi[0] !== undefined" (click)="loadDogadjaji()" class="saznaj" href="#"><i style="font-size: 30px;" class="ion-ios-arrow-down"></i></a>
    </div>
  </div>
</div>
