<div class="vijestiBanner">
  <p class="vijest naslovBaner">O nama</p>


</div>
<div class="row">
  <p class="podnaslov">Lokalno partnerstvo za obrazovanje odraslih</p></div>
  <div class="opis"><p>Funkcionalno partnerstvo javnog, privatnog i civilnog sektora u razvoju
    vještina odraslih osoba ključno je za uspjeh u implementaciji politika i napora svih aktera u oblasti cjeloživotnog učenja i obrazovanja odraslih.
  Kroz višegodišnji rad na obrazovanju odraslih osoba na području BPK goražde uspostavljeno je partnerstvo najznačajnijih aktera iz javnog, privatnog i nevladinog
  sektora koje je primarno funkcionisalo kao mehanizam koordinacije aktivnosti koje su se implementirale u okviru projekata i programa obrazovanja odraslih.
  <br><br>Aktivnosti koje su se provodile u okviru partnerstva uglavnom su aktivnosti koje su obuhvaćene konkretnim programima i projektima na obrazovanju odraslih.
  Ovakav pristup imao je pozitivan efekat na implementaciju projektnih aktivnosti koje su najvećim dijeom finansirane iz donatorskih izvora.
  Partnerstva na polju obrazovanja odraslih su se zbog toga najčešće poimala kao instrument koordinacije projektnih aktivnosti, a ne kao platforma za funkcionalnu i održivu saradnju
  razvoja cjelokupnog sistema obrazovanja odraslih na području Bosansko-podrinjskog kantona Goražde.
  <br><br>Jedan od razloga zbog kojih nije iskorišten puni potencijal partnerstva svih zainteresovanih strana na polju obrazovanja odraslih jeste nedostatak usaglašene misije i ciljeva partnerstva
  javnog, privatnog i civilnog sektora u oblasti osiguranja funkcionalne saradnje na polju obrazovanja odraslih, te nerazvijenost kapaciteta u javnom i privatnom sektoru da proaktivno i
  zajednički djeluju kako bi odgovorili na sve izazove obrazovanja odraslih.
  <br><br>Kako bi se odgovorilo na potrebe za jačanjem partnerstva u obrazovanju odraslih, u maju 2019.godine je od strane Skupštine Bosansko-podrinjskog kantona Goražde usvojena
  Strategija obrazovanja odraslih: "Obrazovanje za sljedeće doba" za period 2019-2023. U ovoj strategiji jasno je naznačena potreba daljeg razvoja partnerstva svih ključnih aktera javnog,
  privatnog i civilnog sektora na razvoju partnerstva i jačanju kapaciteta članova partnerstva u oblasti obrazovanja odraslih.
  <br><br>Treći strateški fokus Strategije obrazovanja odraslih BPK Goražde je usmjeren ka razvoju partnerstva i promociji obrazovanja odraslih; razvoju infrastrukturnih kapaciteta za obrazovanje
  odraslih; uspostavljanje strateških partnerstava između svijeta rada i svijeta obrazovanja; osiguranju relevantnih informacija koje doprinose boljem donošenju odluka u vezi obrazovanja
  odraslih kao i povećanju fleksibilnosti i inovativnosti u procesu učenja i sticanja znanja odraslih osoba kroz razvoj kapaciteta privatnog i civilnog sektora za participaciju u sistemu
  obrazovanja odraslih kako bi u partnerstvu sa javnim sektorom obezbijedili uslove za kontinuirani razvoj znanja i vještina odraslih osoba.</p></div>




<div class="row podnaslov">
<p>Partneri</p>


</div>

<div class="row red">
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3 kolona">
    <img class="slikepartneri aldi" src="../../../assets/Slike/aldilogo.png"><br>
    <a href="http://aldi.ba/" target="_blank">Udruženje za lokalne razvojne inicijative</a>
    </div>
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3 kolona">
      <img class="slikepartneri" src="../../../assets/Slike/vladalogo.png"><br>
    <a href="http://mo.bpkg.gov.ba/" target="_blank"> Ministarstvo za obrazovanje BPK Goražde</a>
    </div>
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
      <img class="slikepartneri" src="../../../assets/Slike/vladalogo.png"><br>
    <a href="http://www.szzbpk.ba/" target="_blank">Služba za zapošljavanje BPK Goražde</a>
    </div>
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
      <img class="slikepartneri" src="../../../assets/Slike/gradgorazdelogo.png"><br>
    <a href="http://www.gorazde.ba/" target="_blank">Grad Goražde</a>
    </div>
  </div>

  <div class="row red red2">

      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/privrednalogo.png"><br>
    <a href="https://www.pkbpk.com/" target="_blank">Privredna komora BPK Goražde</a>
      </div>

      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/poslodavcilogo.png"><br>
    <a href="https://www.upbpk.com/" target="_blank">Udruženje poslodavaca BPK Goražde</a>
      </div>
      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/obrtnickalogo.png"><br>
    <a href="https://okbpk.com/" target="_blank">Obrtnička komora BPK Goražde</a>
      </div>
      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/skolalogo.png"><br>
    <a href="https://www.bpkg.gov.ba/obrazovanje/3186/srednja-strucna-skola-dzemal-bijedic" target="_blank">SSŠ 'Džemal Bijedić' Goražde</a>

      </div>
    </div>
    <div class="row plavi">
      <div class="col-lg-4">
        <i class="ion-ios-people"></i>
        <p>8 partnera</p>
      </div>
      <div class="col-lg-4">
        <i class="ion-ios-location"></i>
        <p>Bosansko podrinjski kanton Goražde</p>
      </div>
      <div class="col-lg-4">
        <i class="ion-ios-book"></i>
        <p>Obrazovanje odraslih</p>
      </div>



    </div>

