<h1 class="text-center text-secondary">Izmjena publikacije</h1>
<div  class="row-fluid mb-3">
  <button routerLink="/dashboard/publikacije" style="background-color:transparent;top: 0;" class="btn btn-light"><i class="fa fa-lg fa-arrow-left text-secondary"></i></button>
</div>
<div class="container effect8 pt-3 pb-3">
  <form (ngSubmit)="onSubmit(rteForm)" #rteForm="ngForm">

    <div class="form-group">
      <label for="naziv">Naziv</label>
      <input
        type="text"
        #pubNaziv="ngModel"
        [ngClass]="{'is-invalid': pubNaziv.errors && pubNaziv.touched}"
        [(ngModel)]="publikacija.Naziv"
        name="Naziv"
        id="naziv"
        class="form-control"
        required>
      <div [hidden]="!pubNaziv.errors?.required" class="invalid-feedback">
        Naziv vijesti je obavezan
      </div>
    </div>
    <div class="form-group">
      <label for="autor">Autor</label>
      <input
        type="text"
        #pubAutor="ngModel"
        [ngClass]="{'is-invalid': pubAutor.errors && pubAutor.touched}"
        [(ngModel)]="publikacija.Autor"
        name="Autor"
        id="autor"
        class="form-control"
        required>
      <div [hidden]="!pubAutor.errors?.required" class="invalid-feedback">
        Autor vijesti je obavezan
      </div>
    </div>
    <div class="form-group">
        <ejs-richtexteditor #fromRTE #name='ngModel' [(value)]='value' required name="name" [(ngModel)]="value"
              (created)="rteCreated()"></ejs-richtexteditor>
              <div *ngIf="(name.invalid && name.touched)">
                  <div *ngIf="name.errors.required" class="alert alert-danger">
                      Opis je obavezan
                  </div>
              </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Spremi">
  </form>

</div>
