.pruzaociUsluga {
  background-image:  url(../../../assets/Slike/connect-hand-jigsaw-match.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
    background-position: center center;

  }
.slikaaa {
  background-image: url(../../../assets/Slike/strategy-vision-roadmap.img.jpg);
  background-size: cover;
  background-position: center center;

}
  .pruzaoci{
    padding-top: 260px;
    padding-left: 130px;
    font-size: 60px;
    color:rgba(187, 53, 43, 0.671);
    letter-spacing: 4px;
  }
.dugme {
  margin:0 auto;
  display:block;
}
.box1 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: whitesmoke;
  padding-left: 200px;
  padding-right: 200px;
}
.box2 {
  padding-top: 170px;
  padding-bottom: 170px;
  padding-left: 100px;
  padding-right: 100px;
}
.pedinzi {
  padding-top: 50px;
  padding-bottom: 50px;
}
.donji {
  padding-top: 50px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.zadnji {
  margin-top: 50px;
  min-height: 400px;
  height: auto;
  padding-bottom: 50px;
}
