<div class="pozadina">
  <div class="container pb-3 pt-3">
    <div  class="row-fluid">
      <!--<button routerLink="/dashboard/vijesti" style="background-color:transparent;top: 0;" class="btn btn-light"><i class="fa fa-lg fa-arrow-left text-secondary"></i></button>-->
      <h2 class="text-center" style="color: #066399ab;">Online prijava</h2>
      <h4 class="text-center">Molimo popunite formu ispod</h4>
    </div>
    <div class="row pb-3 pt-3">
      <div class="col-lg-6 pr-3" style="border-right: solid 2px #066399ab">
        <form (ngSubmit)="onSubmit(rteForm)" #rteForm="ngForm">
          <div class="form-group">
            <label for="ime">Ime</label>
            <input
              type="text"
              #prijavaIme="ngModel"
              [ngClass]="{'is-invalid': prijavaIme.errors && prijavaIme.touched}"
              [(ngModel)]="prijava.Ime"
              name="Ime"
              id="ime"
              class="form-control"
              required>
            <div *ngIf="prijavaIme.invalid" class="invalid-feedback">
              Vaše ime je obavezno
            </div>
          </div>
          <div class="form-group">
            <label for="prezime">Prezime</label>
            <input
              type="text"
              #prijavaPrezime="ngModel"
              [ngClass]="{'is-invalid': prijavaPrezime.errors && prijavaPrezime.touched}"
              [(ngModel)]="prijava.Prezime"
              name="Prezime"
              id="prezime"
              class="form-control"
              required>
            <div [hidden]="!prijavaPrezime.errors?.required" class="invalid-feedback">
              Vaše prezime je obavezno
            </div>
          </div>
          <div class="form-group">
            <label for="datumRodjenja">Datum rođenja</label>
            <input
              type="date"
              #prijavaDatumRodenja="ngModel"
              [ngClass]="{'is-invalid': prijavaDatumRodenja.errors && prijavaDatumRodenja.touched}"
              [(ngModel)]="prijava.DatumRodjenja"
              name="datumRodjenja"
              id="datumRodjenja"
              class="form-control"
              required>
            <div [hidden]="!prijavaDatumRodenja.errors?.required" class="invalid-feedback">
              Vaš datum rođenja je obavezan
            </div>
          </div>
          <div class="form-group">
            <label for="adresa">Adresa</label>
            <input
              type="text"
              #prijavaAdresa="ngModel"
              [ngClass]="{'is-invalid': prijavaAdresa.errors && prijavaAdresa.touched}"
              [(ngModel)]="prijava.Adresa"
              name="Adresa"
              id="adresa"
              class="form-control"
              required>
            <div *ngIf="prijavaAdresa.invalid" class="invalid-feedback">
              Vaša adresa je obavezna
            </div>
          </div>

          <div class="form-group">
            <label for="JMBG">JMBG</label>
            <input
              type="text"
              (keypress)="numberOnly($event)"
              maxlength="13"
              #prijavaJMBG="ngModel"
              [ngClass]="{'is-invalid': prijavaJMBG.errors && prijavaJMBG.touched}"
              [(ngModel)]="prijava.JMBG"
              name="JMBG"
              id="JMBG"
              class="form-control"
              required>
            <div [hidden]="!prijavaJMBG.errors?.required" class="invalid-feedback">
              Vaš jedinstveni matični broj je obavezan
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              #prijavaEmail="ngModel"
              [ngClass]="{'is-invalid': prijavaEmail.errors && prijavaEmail.touched}"
              [(ngModel)]="prijava.Email"
              name="Email"
              id="email"
              class="form-control"
              required>
            <div [hidden]="!prijavaEmail.errors?.required" class="invalid-feedback">
              Vaš email je obavezan
            </div>
          </div>
          <div class="form-group">
            <label for="telefon">Telefon</label>
            <input
              type="text"
              (keypress)="numberOnly($event)"
              #prijavaTelefon="ngModel"
              [ngClass]="{'is-invalid': prijavaTelefon.errors && prijavaTelefon.touched}"
              [(ngModel)]="prijava.Telefon"
              name="Telefon"
              id="telefon"
              class="form-control"
              required>
            <div [hidden]="!prijavaTelefon.errors?.required" class="invalid-feedback">
              Vaš broj telefona je obavezan
            </div>
          </div>
          <div class="form-group">
            <label for="zanimanje">Zanimanje</label>
            <input
              type="text"
              #prijavaZanimenja="ngModel"
              [ngClass]="{'is-invalid': prijavaZanimenja.errors && prijavaZanimenja.touched}"
              [(ngModel)]="prijava.Zanimanje"
              name="Zanimanje"
              id="zanimanje"
              class="form-control"
              required>
            <div [hidden]="!prijavaZanimenja.errors?.required" class="invalid-feedback">
              Vaše zanimanje je obavezno
            </div>
          </div>
          <div class="form-group">
            <p>Da li posjedujete neko prethodno znanje iz ove oblasti</p>
            <br>
            <input #radioDa type="radio" id="da" name="znanjeRadio" value="Da">
            <label for="da" class="ml-3"> Da</label><br>
            <input checked type="radio" id="ne" name="znanjeRadio" value="Ne">
            <label for="ne" class="ml-3"> Ne</label><br>
          </div>
          <div class="form-group test">
            <label for="znanje">Navedite koje</label>
            <input
              type="text"
              #prijavaZnanje="ngModel"
              [(ngModel)]="prijava.Znanje"
              name="Znanje"
              id="znanje"
              class="form-control">
          </div>
          <div id="recaptcha-container">

          </div>
          <div class="mb-5">
            <input type="reset" style="background-color: #066399ab !important;" value="Reset" class="btn btn-primary mt-4">
            <input type="submit" style="background-color: #066399ab !important;" value="Prijavi se" class="btn btn-primary pull-right mt-4">
          </div>
        </form>
      </div>
      <div class="col-lg-6 ">
        <h6 class="text-center mb-5">Informacije</h6>
        <div class="row mt-5">
          <div class="col-lg-4">
            <b>Kategorija :</b>
          </div>
          <div class="col-lg-8">
            <p>{{kurs.Kategorija}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-4">
            <b>Naziv :</b>
          </div>
          <div class="col-lg-8">
            <p>{{kurs.Naslov}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-4">
            <b>Trajanje :</b>
          </div>
          <div class="col-lg-8">
            <p>{{kurs.Trajanje}} sedmica</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-4">
            <b>Cijena :</b>
          </div>
          <div class="col-lg-8">
            <p *ngIf="kurs.Cijena !== 0">{{kurs.Cijena}}</p>
            <p *ngIf="kurs.Cijena === 0">Besplatno</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-4">
            <b>Početak :</b>
          </div>
          <div class="col-lg-8">
            <p>{{kurs.DatumPocetka | date}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-4">
            <b>Detalji :</b>
          </div>
          <div class="col-lg-8">
            <p [innerHTML]="kurs.Opis"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
