<div class="kontent plavi">
  <h3 class="text-center naslovBaner">Oblasti</h3>
  <div class="row h-auto">
    <div style="margin:auto;" class="col-md-3 col-lg-3 col-sm-12 col-xs-12 flip-card d-flex justify-content-center">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h4 class="mb-5">Pružaoci usluga</h4>
          <i class="fa fa-4x fa-user mb-4"></i>
        </div>
        <div class="flip-card-back align-middle">
          <p>Ukoliko želite razviti svoje vještine na pravom ste mjestu. Mi vam možemo pomoći da izgradite vještine potrebne u svijetu koji se stalno mijenja.</p>
          <button routerLink="/pruzaoci-usluga" class="btn btn-secondary align-middle">Saznaj više</button> <br> <br>
          <p>O mogućnostima za razvoj kognitivnih, socio-emocionalnih i tehničkih vještina.</p>
        </div>
      </div>
    </div>
    <div style="margin:auto;" class="col-md-3 col-lg-3 col-sm-12 col-xs-12 flip-card d-flex justify-content-center">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h4 class="mb-5">Razvoj kapaciteta</h4>
          <i class="ion-ios-gear fa fa-4x mb-4"></i>
        </div>
        <div class="flip-card-back align-middle">
          <p>Pod pružaocima usluga mi podrazumjevamo obrazovne institucije, druge provajdere usluga obrazovanja odraslih i kompanije koje omogućavaju obuku na radom mjestu.</p>
          <button routerLink="/razvoj-kapaciteta" class="btn btn-secondary align-middle">Saznaj više</button><br> <br>
          <p>koje organizacije nude mogućnost za obuke i gdje možeš steći nova znanja i vještine </p>
        </div>
      </div>
    </div>
    <div style="margin:auto;" class="col-md-3 col-lg-3 col-sm-12 col-xs-12 flip-card d-flex justify-content-center">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h4 class="mb-5">Korisnici usluga</h4>
          <i class="fa fa-4x fa-users mb-4"></i>
        </div>
        <div class="flip-card-back align-middle">
          <p>Partnerstvo za obrazovanje odraslih posvećeno je stalnom unaprijeđenju sistema obrazovanja odraslih</p><br> 
          <button routerLink="/korisnici-usluga" class="btn btn-secondary align-middle">Saznaj više</button><br> <br>
          <p>O našim prioritetima i kako akteri na polju obrazvanja odraslih rade zajedno</p>
        </div>
      </div>
    </div>
    
  </div>

</div>
