<div class="row aktuelno">
  <div class="col-lg-6 pb-5">
    <h1 id="iot" data-aos="fade-up" data-aos-duration="1000" class="text-center mt-5 pt-5" style="color: black">What is IoT? The internet of things explained</h1>
    <br>

    <p class="text-center pl-5 pr-5">
      The internet of things (IoT) is a network of connected smart devices providing rich data, but it can also be a security nightmare.
    </p>
    <p class="text-center pl-5 pr-5">
      The internet of things (IoT) is a catch-all term for the growing number of electronics that aren't traditional computing devices, but are connected to the internet to send data, receive instructions or both.
    </p>
    <br>
    <a class="saznaj" routerLink="/oblasti"><i style="font-size: 38px; margin-left: 50%;" class="ion-ios-arrow-thin-right"></i></a>
  </div>
  <div class="col-lg-6 aktSlika">
    <div class="iotSlika">

    </div>
  </div>
</div>
